.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #9BB1D6;
    -fx-opacity: 1;
    -fx-border-color: #F4F4F4;
    /* -fx-border-color: #58626A; */
    -fx-border-width: 10 10 0 10;
    -fx-border-radius: 15 15 0 0;
    -fx-border-insets: -10;
}
